<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>cards</title>
		<link rel="stylesheet" href="../css/style.css" />
	</head>
	<body>
		<div style="width: 50%; padding: 4rem">
			<div class="card card--primary">
				<header class="card__header">Card Title</header>
				<div class="card__body">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium,
					itaque provident. Fugiat similique voluptate tenetur? Sunt eaque
					dignissimos harum, tempore molestias est magnam labore vel maiores,
					totam dicta aliquam placeat, corporis consectetur ipsa ullam alias
					suscipit commodi minus modi repudiandae reprehenderit! Distinctio ab
					vitae eos ad ipsum blanditiis nulla quasi.
				</div>
			</div>
		</div>
		<div style="width: 50%; padding: 4rem">
			<div class="card card--secondary">
				<header class="card__header">Card Title</header>
				<div class="card__body">
					Lorem ipsum, dolor sit amet consectetur adipisicing elit. Praesentium,
					itaque provident. Fugiat similique voluptate tenetur? Sunt eaque
					dignissimos harum, tempore molestias est magnam labore vel maiores,
					totam dicta aliquam placeat, corporis consectetur ipsa ullam alias
					suscipit commodi minus modi repudiandae reprehenderit! Distinctio ab
					vitae eos ad ipsum blanditiis nulla quasi.
				</div>
			</div>
		</div>
	</body>
</html>
